[submodule "blackmagic"]
	path = blackmagic
	url = https://github.com/blacksphere/blackmagic.git
[submodule "stm32loader"]
	path = stm32loader
	url = https://github.com/jsnyder/stm32loader.git
[submodule "LibStm/libopencm3"]
	path = LibStm/libopencm3
	url = https://github.com/libopencm3/libopencm3.git
[submodule "LibStm/libopencm3-examples"]
	path = LibStm/libopencm3-examples
	url = https://github.com/libopencm3/libopencm3-examples.git
[submodule "rfid"]
	path = rfid
	url = https://github.com/miguelbalboa/rfid.git
[submodule "ArduinoDES"]
	path = ArduinoDES
	url = https://github.com/spaniakos/ArduinoDES/
[submodule "rfid-desfire"]
	path = rfid-desfire
	url = https://github.com/JPG-Consulting/rfid-desfire.git
